framework: auto-detect
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FAKE
nuget HtmlAgilityPack
nuget NUnit
nuget NUnit3TestAdapter
nuget Microsoft.NET.Test.Sdk
nuget Nuget.CommandLine
nuget FsUnit