framework: auto-detect
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FAKE
nuget HtmlAgilityPack
nuget NUnit
nuget NUnit3TestAdapter
nuget Microsoft.NET.Test.Sdk
nuget FsUnit

group Build
    source https://api.nuget.org/v3/index.json
    framework: net7.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Nuget.CommandLine
